fastapi
PyMuPDF
numpy
pandas
psycopg2
pydantic
scikit-learn
spacy
tensorflow
uvicorn

# spaCy model (required for nlp = spacy.load("en_core_web_md"))
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
